/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .container-grid-grid-two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  
  /* Hero Section Styles */
  .section-hero {
    padding: 5rem 0;
    text-align: center;
  }
  
  .hero-content {
    padding: 2rem;
  }
  
  .hero-content p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  .hero-content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .btn-btn-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: dodgerblue;

  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .btn-primary {
    background-color: #007bff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
  }
  
  /* Hero Image Styles */
  .hero-image {
    text-align: center;
  }
  
  .hero-image img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  